body {
  font-family: 'Bodoni', serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* White background */
}

#container {
  width: 70%;
  margin: 0 auto;
  padding: 0px;
/*  padding: 20px 150px;*/
}

#image-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#info-section {
  text-align: left;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 2px;
}

h3 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 5px;
}

p {
  font-size: 19px;
  margin-top: 1em;
}

ul {
  /*list-style-type: none; /* Removes bullet points */
  margin-left: 0; /* Aligns list with headings */
  margin-top: 2px;
  padding: 5px;
}

ul li {
  padding-left: 0; /* Ensures no padding to the left of list items */
}

a {
  color: #0000EE; /* Standard link color */
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.paper-title {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 0.1em;
  font-weight: normal;
  margin-top: 10px;
}

.co-authors {
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 1em;
  color: #000; /* Dark gray color */
}

.paper-title a {
  color: #0000EE; /* Standard link color */
  text-decoration: underline;
}

.paper-title a:hover {
  text-decoration: underline;
}

.project-title {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 0.1em;
  font-weight: normal;
  margin-top: 10px;
}

.writing-title {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 0.1em;
  font-weight: normal;
  margin-top: 10px;
}

.email {
    font-size: 18px;
    color: black; /* Change the text color to gray */
    font-weight: bold; /* Make the text bold */
    text-decoration: none; /* Remove underline */
}

/* Increase the size of the emoji and give it some styling */
.emoji-link {
  font-size: 28px;        /* Adjust the size as needed */
  text-decoration: none;  /* Remove underline from the link */
  /* margin-right: 10px;  */
}

.emoji-link, .emoji-link:hover, .emoji-link:active, .emoji-link:focus {
  text-decoration: none;
}

.emoji-link:hover {
   opacity: 0.7;           /* Slight transparency on hover for a clickable effect */
}